@import url(__link/feynman__link.css);
@import url(__title/feynman__title.css);
@import url(__subtitle/feynman__subtitle.css);
@import url(__img/feynman__img.css);


.feynman {
  display: flex;
  position: relative;
  flex-flow: column wrap;
  height: 790px;
  padding-bottom: 100px;
  background-color: #f2f2f2;
}
