@import url(../section-title/section-title.css);
@import url(../section-subtitle/section-subtitle.css);
@import url(/blocks/video/__iframes/video__iframes.css);
@import url(/blocks/video/__iframe/video__iframe.css);

.video{
display: flex;
flex-direction: column;
justify-content: center;

border: red solid 1px;
}
